html,body{
	width:100%;
	height:100%;
	margin:0;
	background-color:rgb(230,230,230);
}
#slider{
	width: 400px;
	float: left;
	-webkit-transform: rotateZ(90deg) translate(170px);
	position: absolute;
	left: -145px;
}
#slider input{
	width:90%;
}
#playing_field{
	width:700px;
	height:700px;
	z-index:1;
	margin:0 auto;
	position:relative;
	top:210px;
	perspective:700px;
	-webkit-perspective:7000px;
	-webkit-transform-style:preserve-3d;
	-webkit-transform: rotateX(75deg) rotateY(0deg) rotateZ(282deg);
	background-color:green;
	
}
#x_1_y_1, #x_1_y_2, #x_1_y_3, #x_1_y_4,
#x_2_y_1, #x_2_y_2, #x_2_y_3, #x_2_y_4,
#x_3_y_1, #x_3_y_2, #x_3_y_3, #x_3_y_4,
#x_4_y_1, #x_4_y_2, #x_4_y_3, #x_4_y_4{
	position:absolute;
	z-index:10;
	width:100px;
	height:100px;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
	/*-webkit-perspective:700px;*/
}
/*y[fixed]x[n]*/
#x_1_y_4,#x_2_y_4,#x_3_y_4,#x_4_y_4{
	top:0;
}
#x_1_y_3,#x_2_y_3,#x_3_y_3,#x_4_y_3{
	top:200px;
}
#x_1_y_2,#x_2_y_2,#x_3_y_2,#x_4_y_2{
	top:400px
}
#x_1_y_1,#x_2_y_1,#x_3_y_1,#x_4_y_1{
	top:600px;
}
/*y[n]x[fixed]*/
#x_1_y_1,#x_1_y_2,#x_1_y_3,#x_1_y_4{
	left:0;
}
#x_2_y_1,#x_2_y_2,#x_2_y_3,#x_2_y_4{
	left:200px;
}
#x_3_y_1,#x_3_y_2,#x_3_y_3,#x_3_y_4{
	left:400px;
}
#x_4_y_1,#x_4_y_2,#x_4_y_3,#x_4_y_4{
	left:600px;
}
/*prisms*/
.front, .back,
.right, .left,
.top, .bottom{
	position:absolute;
	background-color:rgba(0,0,0,0.1);
	z-index:100;
}
.front, .back{
	width:100px;
	height:100px;
}
.right, .left{
	width:400px;
	height:100px;
	/*left:50px;*/
}
.top, .bottom{
	width:100px;
	height:400px;
	top:150px;
}
.front{ -webkit-transform:rotateY(   0deg ) translateZ(  400px ) }
.back{  -webkit-transform:rotateX( 180deg ) translateZ(    0px ) }
.right{ -webkit-transform:rotateY(  90deg ) translateZ( -100px ) translateX( -200px ) }
.left{  -webkit-transform:rotateY( -90deg ) translateZ(  200px ) translateX(  200px ) }
.top{   -webkit-transform:rotateX(  90deg ) translateZ(  250px ) translateY(  200px ) }
.bottom{-webkit-transform:rotateX( -90deg ) translateZ( -350px ) translateY( -200px ) }

/*per player styles*/
.player_1, .player_2{
	width:100px;
	height:100px;
}
.right .player_1, .right .player_2{
	float: right;
}
.left .player_1, .left .player_2{
	float: left;
}
.bottom .player_1:nth-child(1), .bottom .player_2:nth-child(1){
	position:absolute;
	top:300px;
}
.bottom .player_1:nth-child(2), .bottom .player_2:nth-child(2){
	position:absolute;
	top:200px;
}
.bottom .player_1:nth-child(3), .bottom .player_2:nth-child(3){
	position:absolute;
	top:100px;
}
.bottom .player_1:nth-child(4), .bottom .player_2:nth-child(4){
	position:absolute;
	top:0px;
}
/**/
.top .player_1:nth-child(1),.top .player_2:nth-child(1){
	position:absolute;
	top:0px;
}
.top .player_1:nth-child(2),.top .player_2:nth-child(2){
	position:absolute;
	top:100px;
}
.top .player_1:nth-child(3),.top .player_2:nth-child(3){
	position:absolute;
	top:200px;
}
.top .player_1:nth-child(4),.top .player_2:nth-child(4){
	position:absolute;
	top:300px;
}
.player_1{
	background-color:rgba(0,0,0,1);
}
.player_2{
	background-color:rgba(255,255,255,1);
}


